<!DOCTYPE html>
<html ng-app="gemStore">
	<head>
		<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<style>
			.ng-invalid.ngdirty{
				border-color: red;
			}

			.ng-valid.ng-dirty{
				border-color: green;
			}
		</style>
	</head>
	<body ng-controller="StoreController as store">
		<div ng-repeat="product in store.products">
			<div ng-hide="product.soldOut">
				<h3>
					<product-title></product-title>
				</h3>
			    <!-- Image Gallery  -->
      			<div class='gallery' ng-show="product.images.length" ng-controller="GalleryController as gallery">
        			<img ng-src="{{product.images[gallery.current]}}" />
        			<ul class="list-inline thumbs">
          				<li class="thumbnail" ng-repeat="image in product.images">
            				<img ng-src="{{image}}" />
          				</li>
        			</ul>
      			</div>

				<!-- Panel Section -->
				<section ng-controller="PanelController as panel">
					<ul class="nav nav-pills">
						<li ng-class="{active:panel.isSelected(1)}"> <a href ng-click="panel.selectTab(1)">Description</a></li>
						<li ng-class="{active:panel.isSelected(2)}"> <a href ng-click="panel.selectTab(2)">Specification</a></li>
						<li ng-class="{active:panel.isSelected(3)}"> <a href ng-click="panel.selectTab(3)">Reviews</a></li>
						<br/>
						<div class="panel" ng-show="panel.isSelected(1)">
							<h4 align="left">Description</h4>
							<p>{{product.description}}</p>
							<button ng-show="product.canPurchase"> Add to cart </button>
						</div>
						<div class="panel" ng-show="panel.isSelected(2)" product-specs>

						</div>
						<div class="panel" ng-show="panel.isSelected(3)">
							<h4 align="left">Reviews</h4>

							<!--  Product Reviews List -->
				            <ul>
              					<li ng-repeat="review in product.reviews">
                					<blockquote>
                  						<strong>{{review.stars}} Stars </strong>
                  						{{review.body}}
                  						<cite class="clearfix">—{{review.author}}</cite>
                					</blockquote>
              					</li>
            				</ul>

            	            <!--  Review Form -->
							<form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
								<!--  Live Preview -->
								<blockquote>
							    	<strong>{{reviewCtrl.newReview.stars}} Stars</strong>
									{{reviewCtrl.newReview.body}}
							    	<cite class="clearfix">—{{reviewCtrl.newReview.author}} on {{reviewCtrl.newReview.createdOn|date:'fullDate'}}</cite>
							    </blockquote>

							    <!--  Review Form -->
							    <h4>Submit a Review</h4>
							    <fieldset class="form-group">
							    	<select ng-model="reviewCtrl.newReview.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"  title="Stars" required>
							        	<option value="">Rate the Product</option>
							        </select>
							    </fieldset>
							    <fieldset class="form-group">
							    	<textarea ng-model="reviewCtrl.newReview.body" class="form-control" placeholder="Write a short review of the product..." title="Review" required></textarea>
							    </fieldset>
							    <fieldset class="form-group">
							    	<input ng-model="reviewCtrl.newReview.author" type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" required/>
							    </fieldset>
							    <fieldset class="form-group">
							    	ReviewForm is {{reviewForm.$valid}}
							    	<input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
							    </fieldset>
            				</form>
						</div>
					</ul>
				</section>

			</div>
			<hr/>
		</div>
	</body>
</html>
